Source: blitzortung-server
Section: misc
Priority: extra
Maintainer: Andreas Wuerl <blitzortung@tryb.de>
Build-Depends: debhelper (>= 7), python(>= 2.7)
Standards-Version: 3.9.1
Homepage: http://launchpad.net/blitzortung-tracker

Package: blitzortung-server
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-blitzortung (>=1.6)
Conflicts:
Replaces:
Description: blitzortung.org server software
 This package provides server software for blitzortung.org
